table 
{
    border-collapse: collapse;
    width: 100%;
}

th, td 
{
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th 
{
    
    background-image: url(../images/50cxl0f8.png);
    color: white;
}

#adminNav
{
    
    background-image: url(../images/50cxl0f8.png);
    height: 70px;
    color: black;
}

h1
{
    margin-top: 20px;
}

.Remblock
{
    border: none;
    
    background-image: url(../images/50cxl0f8.png);
}

#remblock2
{
    
    background-image: url(../images/50cxl0f8.png);
}

.Remblock:hover
{
    cursor: pointer;
}

